.titlebar{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.socials{
  height: 22px;
}

.titlebarImage{
    height: 150px;
    padding-left: 50px;
    padding-right: 50px;
}   

.titlebarText{  
    display: flex;
    font-weight: bold;
    font-size: 68px;
    justify-content: space-evenly;
    align-items:stretch;
    color: black;
    font-family: 'Playfair Display', serif;
    
}

.footerText{  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Playfair Display', serif;
  
}

  a {
    font-family: 'Noto Serif', serif;
    color: black; 
    text-decoration: underline;
}

  a:visited {
    color: black;
  }

  a:hover {
    color: black; 
  }

  a:active {
    color: black;
  }

.titlebarSidetext{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

.navbarText{
    font-family: 'Playfair Display', serif;
}

.footerBackground{
  background-color: #2F4858;
}

body{
  /*background-color: #fcfbf7;*/
  background-color: #fbf5ec;
}

.common-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-button {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 200px;
  border: 0;
  padding: 15px;
  color: #fbf5ec;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 10px;
}

.common-button-na {
  font-family: 'Playfair Display', serif;
  outline: 0;
  background: black;
  width: 200px;
  border: 0;
  padding: 15px;
  color: #fbf5ec;
  font-size: 14px;
  margin-bottom: 10px;
}

.common-button:hover,
.common-button:active,
.common-button:focus {
  background: white;
  color: #000000;
  border: #000000;
}

.article-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Set width to 80% */
  margin: auto; /* Center the div horizontally */
  border: 2px solid black; /* Add a black border around the div */
  padding: 20px; /* Add padding for better aesthetics */
}

.article-heading {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  text-decoration: underline;
}

.article-img {
  height: 300px;
  width: 300px;
}

.subheading-style{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
}

.article-text {
  padding: 5px;
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  text-align: justify;
}

.article-all-container {
  display: flex;
  border: 1px solid #2F4858;
  justify-content: space-between; /* Distribute space between elements */
  align-items: center;
  margin-bottom: 10px; /* Add margin to create a gap between containers */
  width: 90%;
  margin: auto;
}

.article-all-container img {
  height: 100px;
  padding: 10px;
}

.article-all-container h2 {
  flex-grow: 1; /* Allow title to grow and take available space */
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .titlebarText {
      font-size: 50px;
  }

  .titlebarSidetext{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}


  .footerText {
      /* Adjust the font size for tablets */
  }
}

/* Media query for phones */
@media (max-width: 767px) {
  .titlebarText {
      font-size: 30px;
  }

  .socials{ 
    height: 13px;
    
  }

  .titlebarSidetext{
    font-size: 15px;
    font-weight: 600  ;
  }

  .container-current-mag{
    height: 180px;
  }

  .container-current-articles{
    height: 200px;
  }

  .container-current-misc{
    height: 220px;
  } 

  .mobileHider{
    visibility: hidden;
  }
  .mobileReveal {
    visibility: visible;
  }
} 