<!DOCTYPE html>
<html lang="en">
<head>
    <script bis_use="true" type="text/javascript" charset="utf-8"com ></script>
    <title>Alumni Api's CSEA</title>
    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/loginbox.css" rel="stylesheet">
  </head>

    <header>
        <div class="header">
            <h3>Alumni Affairs Management - C</h3>
        </div>
    </header>
    <body>
        <main>
            <div class="login-page">
                <div class="login-form-container">
                <div class="form">
                    <!-- Login Form -->
                    <form class="login-form" id="login-form" action="/api/alumni/login" method="get">
                        <input type="text" id="username" name="username" placeholder="Username" />
                        <input type="password" id="password" name="password" placeholder="Password" />
                        <button id="loginButton" type="submit">Login</button>
                    </form>

                    <a href="./registration"><button>Register</button></a>
            
                </div>
                </div>
            </div> 
        </main>
    </body>
</html>